* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.display-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.color {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    padding: 15px;
    background-color: aliceblue;
    width: fit-content;
}

label {
    font-weight: bold;
}

input {
    cursor: pointer;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

span {
    padding: 10px;
    font-weight: bold;
}

#size-range {
    cursor: ew-resize;
}

#sizeSlider {
    display: flex;
}

.current-value {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background: grey;
}

.grid, .squares {
    border: 1px solid black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 700px;
    background-color: white;
}